.issue-details-wrapper {
    padding: 50px 50px 50px 50px;
}

.issue-details-title {
    min-height: 48px;
    font-weight: 400;
    line-height: 48px;
    font-size: 32px;
    color: #24292e;
    font-family: sans-serif;
}

.issue-details-sub-title { 
    min-height: 32px;
    font-size: 14px;
    color: #586069;
    font-weight: 500;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: #e1e4e8 2px solid;
}

.issue-details-comment-container {
    padding: 30px 20px 0px 20px;
    border-top-color: #e1e4e8;
    border-top-width: 2px;
    border-top-style: solid;
}

.tags-container {
    min-height: 48px;
}

.issue-tag-card {
    padding: 5px 7px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    border: 1px solid transparent;
    border-radius: 2em;
    margin-left: 5px;
    white-space: nowrap;
    cursor: pointer;
}

.comments-skeleton {
    padding-top: 30px;
}

.details-skeleton {
    padding: 50px 50px 50px 50px;
}

.issue-details-description-content {
    line-height: 21px;
    color: rgb(36, 41, 46);
    font-size: 14px;
    overflow-wrap: break-word;
    padding: 10px 20px 10px 20px;
}

.issue-desc-header {
    padding: 10px 20px 10px 20px;
    background-color: #f6f8fa;
}

.issue-details-raisedby-avatar {
    margin-right: 10px;
}
.issue-details-raisedby-description {
    font-size: 12px;
    line-height: 18px;
    color: #ccc;
}

.issue-details-description-container {
    border: #e1e4e8 1px solid;
    border-radius: 8px;
    margin-bottom: 25px;
    overflow-x: scroll;
}